<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>



<% @cocktails.each do |cocktail| %>

<div>
  <%= link_to  cocktail.name, cocktail_path(cocktail) %>
  <>
  <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Delete?' } %>
  <>
  </div>
<% end %>

<%= link_to  "new drink", new_cocktail_path %>